label {
  position: relative;
  padding-left: 1rem;
}

label::before {
  content: '';
  width: 0.65rem;
  height: 0.65rem;
  border: 0.4px rgb(138, 138, 138) solid;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -0.2rem;
  left: 0;
  box-sizing: border-box;
}
input:hover+label:before{
  border-color:rgb(0, 0, 0);
}
input:checked:hover+label:before{
  border: 0.4px #d13928 solid;
}

input {
  display: none;
}

input:checked+label::before {
  border: 0.4px #F05D4E solid;
}

input:checked+label::after {
  content: '';
  width: 0.38rem;
  height: 0.38rem;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 49%;
  margin-top: -0.05rem;
  background: #F05D4E;
  left: 0.14rem;
}
input:hover+label::after {
  background: #d13928;
}